:root {
    --bg-color: #272727;
    --text-color: #ffc700;
    --burger-color: #696969;
    --bg-burger: #181818;
    --text2-color: #0d0c11;
    --text3-color: #272727;
    --bg-text-color: #f3f3f2;
    --button-text-color: #8e8e8e;
}
